/HNNconfigs/*
/HNNruns/*
/VPINNruns/*
/models/*
/output/*
/error/*
/logs/*
/runconfigs/*
/Data_Gen/legacy_datasets
/Data_Gen/const_Ur
/Data_Gen/generated_series
/Data_Gen/generated_series_dy
/Data_Gen/generated_series_Ur
/Data_Gen/groundtruth_runs_100hz
__pycache__/
*.pyc
*.npz
*.png
