/HNNconfigs/*
/HNNruns/*
/models/*
/output/*
/error/*
/gpu_usage
/runconfigs
/old_logs
/legacy_code
/logs/*
/figs
/models

/figures/*
/tests
/Data_Gen/legacy_datasets
/Data_Gen/const_Ur
/Data_Gen/generated_series
/Data_Gen/generated_series_dy
/Data_Gen/generated_series_Ur
/Data_Gen/generated_series_Ur_40
/Data_Gen/generated_series_Ur_60
/Data_Gen/groundtruth_runs_100hz
/Data_Gen/npz_exports_td_burnin_trimmed
/Data_Gen/npz_exports_td_burnin_trimmed4
/Data_Gen/npz_exports_multi_theta0_modified
/Data_Gen/npz_exports_multi_theta0_baseline
/Data_Gen/loo_ur_td_burnin_trimmed4
/Experimental_Data/eval_models
/vivana_cfd_data_pipeline/.plot_cache/
/vivana_cfd_data_pipeline/**/.DS_Store
/vivana_cfd_data_pipeline/**/__pycache__/
/vivana_cfd_data_pipeline/raw/
/vivana_cfd_data_pipeline/generated/
/vivana_cfd_data_pipeline/outputs/
__pycache__/
*.pyc
*.npz
*.png
*.json
*.mat
*.xlsx
*.pdf
/Master_Thesis/
/config/
